<%= form_for(@movie, :html => {:multipart => true}) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :opinion %><br>
    <%= f.text_field :opinion %>
  </div>
  <div class="field">
    <%= f.label :actors %><br>
    <%= f.text_field :actors %>
  </div>
  <br>
  <% if f.object[:image].nil? %>
    No existing images, please add an image via URL or choose image file
  <% else %>
    Preview<br>
    <%= image_tag f.object.image_url(:thumb) %>
    <br>Add new image and ignore this one.
  <% end %>
  <br>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :remote_image_url, "Or image URL" %>
    <%= f.text_field :remote_image_url %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>