<%= form_for(@movie, :html => {:multipart => true}) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <% categories = ["Action","Adventure","Animation","Biography","Comedy","Crime","Documentary","Drama","Family","Fantasy","Film-Noir","History","Horror","Music","Musical","Mystery","Romance","Sci-Fi","Sport","Thriller","War","Western" ] %>
    <%= f.select :category, categories %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.country_select :country %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <% score = [ 0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0 ] %>
    <%= f.select :score, score %>
  </div>
  <div class="field">
    <%= f.label :opinion %><br>
    <%= f.text_area :opinion %>
  </div>
  <div class="field">
    <%= f.label :actors %><br>
    <%= f.text_field :actors %>
  </div>
  <br>
  <% if f.object[:image].nil? %>
    No existing images, please add an image via URL or choose image file
  <% else %>
    Preview<br>
    <%= image_tag f.object.image_url(:thumb) %>
    <br>Add new image and ignore this one.
  <% end %>
  <br>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :remote_image_url, "Or image URL" %>
    <%= f.text_field :remote_image_url %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>