<p id="notice"><%= notice %></p>
<body class="start_bg">
  <h1>Listing Movies</h1>

  <div class="white_bg">
    <center>
      <table id="movies_table", class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Country</th>
            <th>Year</th>
            <th>Score</th>
            <th>Opinion</th>
            <th>Actors</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @movies.each do |movie| %>
            <tr>
              <td><%= movie.name %></td>
              <td><%= movie.category %></td>
              <td><%= movie.country %></td>
              <td><%= movie.year %></td>
              <td><%= movie.score %></td>
              <td><%= movie.opinion %></td>
              <td><%= movie.actors %></td>
              <td><%= link_to icon('eye', 'Show'), movie %></td>
              <td><%= link_to icon('edit', 'Edit'), edit_movie_path(movie) %></td>
              <td><%= link_to icon('trash', 'Destroy'), movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </center>
  </div>
  <br>
</body>
<%= link_to 'New Movie', new_movie_path %>
